<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sample</title>
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/grid.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="row">
      <div class="box">
        <img alt="logo" class="logo" src="../static/images/docker.png" />
        <h1>Containerize Python Application using Docker</h1>
        <div class="row">
          <h1 class="name">TheTharz</h1>
        </div>
      </div>
    </div>
    <section class="feature">
      <h1 class="welcome">WELCOME TO THE TUTORIAL</h1>
    </section>
  </body>
</html>
